<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New website</title>
    </head>
    <body>
        {{> header}}
        <p>{{welcome}}</p>
        {{> footer}}
    </body>
</html>