<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {{> header}}
            <p>Here are my amazing projects: </p>
            <ul>
                {{#each projects}}
                    <li>{{@index}}.{{this}}</li>
                {{/each}}
            </ul>
        {{> footer}}
    </body>
</html>